<div class="crayons-card crayons-card--secondary p-4">
  <h2 class="crayons-subtitle-2 lh-tight mb-4">
    <%= render "shared/authentication_title" %>
  </h2>
    <p class="color-base-70 mb-4">
  <% end %>
  <div>
    <a href="https://identity.zurich-expats.ch" class="crayons-btn w-100 mb-2" aria-label="Create new account">Create new account</a>
  </div>
</div>
